<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SortFilesIntoFoldersByDate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SortFilesIntoFoldersByDate.Properties.Settings>
            <setting name="SourceFolder" serializeAs="String">
                <value>E:\Silje\Billeder og video\_sort</value>
            </setting>
            <setting name="DestinationFolder" serializeAs="String">
                <value>E:\Silje\Billeder og video</value>
            </setting>
            <setting name="DateStamp" serializeAs="String">
                <value/>
            </setting>
        </SortFilesIntoFoldersByDate.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
